<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--Ensure no additional sources are inherited from another config file. -->
    <clear />

    <!-- Define package sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="R1 GitHub" value="https://nuget.pkg.github.com/r1-development/index.json" />
  </packageSources>

  <!-- Define credentials for package sources -->
  <packageSourceCredentials>
    <R1_x0020_GitHub>
      <add key="Username" value="%PACKAGES_USER%" />
      <add key="ClearTextPassword" value="%PACKAGES_TOKEN%" />
    </R1_x0020_GitHub>
  </packageSourceCredentials>

  <!-- Define mappings for packages to sources -->
  <!-- Last takes precedence -->
  <packageSourceMapping>
    <!-- key values should match <packageSources> above -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="R1 GitHub">
      <package pattern="R1.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
